@import "variables";
@import "mixins";
@import "another/reset";

body{
    background-color: $black;
    color: #fff;
    overflow-x: hidden;
}

main{
    overflow-x: hidden;
}

a{
    text-transform: uppercase;
}

@import "blocks/container";
@import "blocks/header";
@import "blocks/section";
@import "blocks/intro";
@import "blocks/card";
@import "blocks/products";
@import "blocks/collection";
@import "blocks/brands";
@import "blocks/footer.scss";