.footer{
    padding: 80px 20px 100px 20px;

    background: url(/assets/images/footerBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @include breakpoint($laptop-bp) {
        flex-direction: column;
        align-items: center;
    }
}

.footer__item{
    max-width: 350px;
}

.footer__title{
    margin-bottom: 40px;

    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $white;
}

.footer__text{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: $white;

    margin-bottom: 38px;
}

.footer__tags{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    background-color: $black;
    padding: 10px 20px;
    margin: 0 20px 20px 0;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-transform: lowercase;

    color: #D0D0D0;
}

.form__group{
    display: flex;
    @include breakpoint($mobile-bp) {
        flex-direction: column;
    }
}

.footer__input{
    background: rgba($white, 0.4);
    padding: 10px 15px;
    color: $white;
    &::placeholder{
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        color: #969696;
    }

    border: none;
    outline: 0;
}

.footer__button{
    background-color: $black;
    padding: 10px 20px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;

    color: $white;

    transition: color, background-color 0.5s, 0.5s;

    &:hover{
        color: $black;
        background-color: $white;
    }

    border: none;
}
