header{
    height: 80px;
    width: 100%;
    background-color: #0F0F0F;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    @include breakpoint($laptop-bp) {
        padding: 0 20px;
        align-items: center;
    }
}

.header__logo__img{

    position: relative;
    height: 80px;

    img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

}

.nav{

    @include breakpoint($laptop-bp) {
        display: none;
        &.show{
            display: flex;
            width: 110%;
            position: absolute;
            left: -10px;
            top: 80px;
            background-color: rgba($black, 0.7);
        }

    }

}

.nav_list{
    display: flex;

    @include breakpoint($laptop-bp) {
        flex-direction: column;
        width: 100%;
    }
}

.nav_link{
    display: inline-block;

    padding: 25px 20px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $white;

    transition: background-color .2s;

    img{
        transform: translateY(-30%)
    }

    &:hover{
        background-color: #1f1f1f;
    }
    @include breakpoint($laptop-bp) {
        width: 100%;
    }
}
.burger{
    display: none;
    height: 5px;
    width: 40px;
    border: none;
    border-radius: 3px;
    position: relative;
    background-color: $white;
    cursor: pointer;
    &::after{
        content: "";
        display: block;
        position: absolute;
        border-radius: 3px;
        top: -10px;
        background-color: $white;
        height: 5px;
        width: 40px;
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        border-radius: 3px;
        bottom: -10px;
        background-color: $white;
        height: 5px;
        width: 40px;
    }
    
    @include breakpoint($laptop-bp) {
        display: block;    
    }
}