.intro{
    
    height: calc(100vh - 80px);
    min-height: 810px;

    background: url(/assets/images/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    @include breakpoint($mobile-bp) {
        padding: 20px;
    }
}

.intro__logo{
    margin-bottom: 80px;
    @include breakpoint($mobile-mini-bp) {
        img{
            width: 200px;
        }
    }
}

.intro__text{
    max-width: 730px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    text-transform: uppercase;
    @include breakpoint($mobile-mini-bp) {
        max-width: 300px;
    }
}