.double__section{
    display: flex;
    @include breakpoint($laptop-bp) {
        flex-direction: column;
    }
}

.double__section__content{
    padding: 100px 80px;
    width: 1040/1920 * 100%;
    display: flex;
    flex-direction: column;
    @include breakpoint($laptop-bp) {
        width: 100%;
    }
    @include breakpoint($mobile-bp) {
        padding: 100px 40px;
    }
}

.double__section__photo{
    width: 880/1920 * 100%;
    @include breakpoint($laptop-bp) {
        width: 100%;
    }
}

.section__header{
    margin: 0 auto;

    .section__title{
        font-family: 'Playfair Display';
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        text-transform: uppercase;

        &::after{
            content: "";
            display: block;
            width: 120px;
            height: 2px;
            background-color: $white;
        }
        &.after50::after{
            margin: 50px auto;
        }
        &.after30::after{
            margin: 30px auto;
        }
        &.after40::after{
            margin: 40px auto;
        }
        @include breakpoint($mobile-bp) {
            font-size: 30px;
        }
    }
}

.section__button{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $white;

    padding: 12px 28px;
    margin: 0 auto;

    border: 1px solid $white;

    transition: color, background-color 0.2s, 0.2s;

    &:hover{
        color: $black;
        background-color: $white;
    }

}

.section__text{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    text-align: center;

    color: $white;

    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 470px;
}

.section__receipts{
    padding: 150px 20px;
}