<header>
    <div class="container">
        <div class="header__inner">
            <div class="header__logo__img">
                <img src="assets/images/logo.svg">
            </div>
            <nav class="nav" id="nav">
                <ul class="nav_list">
                    <li>
                        <a href="#" class="nav_link">Понравилось</a>
                    </li>
                    <li>
                        <a href="#" class="nav_link">Личный кабинет</a>
                    </li>
                    <li>
                        <a href="#" class="nav_link">Настройки</a>
                    </li>
                    <li>
                        <a href="#" class="nav_link"><img src="assets/images/header/shop.svg"></a>
                    </li>
                    <li>
                        <a href="#" class="nav_link"><img src="assets/images/header/search.svg"></a>
                    </li>
                </ul>
            </nav>
            <button class="burger" id="burger"></>
        </div>

    </div>
</header>
